:root {
  /* Colors — Primary */
  --color-primary: #f8f5ee;
  --color-secondary: #ff4800;
  --color-accent: #042729;

  /* Colors — Neutrals */
  --color-neutral-50: #1f1f1f;
  --color-neutral-100: #000000;
  --color-neutral-200: #f0f0f0;

  /* Colors — Backgrounds */
  --color-bg: #fcfcfa;
  --color-bg-1: #1f1f1f;
  --color-bg-2: #ffffff;
  --color-bg-3: #f8f5ee;
  --color-bg-4: #042729;
  --color-bg-5: #000000;

  /* Colors — Text */
  --color-text: #1f1f1f;
  --color-text-1: #15295a;
  --color-text-2: #ffffff;
  --color-text-3: #000000;
  --color-text-4: #124548;

  /* Typography — Families */
  --font-sans: 'HubSpot Sans', sans-serif;
  --font-body: 'Times New Roman', sans-serif;
  --font-heading: 'HubSpot Serif', sans-serif;
  --font-body: 'Zen Kaku Gothic New', sans-serif;

  /* Typography — Scale */
  --font-size-48: 48px;
  --font-size-40: 40px;
  --font-size-32: 32px;
  --font-size-24: 24px;
  --font-size-22: 22px;
  --font-size-18: 18px;
  --font-size-16: 16px;
  --font-size-14: 14px;
  --font-size-12.8: 12.8px;
  --font-size-12: 12px;

  /* Spacing */
  --spacing-1: 1px;
  --spacing-20: 20px;
  --spacing-24: 24px;
  --spacing-40: 40px;
  --spacing-48: 48px;
  --spacing-52: 52px;
  --spacing-56: 56px;
  --spacing-64: 64px;
  --spacing-68: 68px;
  --spacing-80: 80px;
  --spacing-96: 96px;
  --spacing-100: 100px;
  --spacing-165: 165px;

  /* Border Radius */
  --radius-sm: 3px;
  --radius-md: 6px;
  --radius-lg: 16px;
  --radius-full: 42px;
  --radius-full: 50px;

  /* Box Shadows */
  --shadow-sm: rgba(0, 0, 0, 0) 0px 0px 0px 1px;
  --shadow-sm: rgba(33, 51, 67, 0.12) 0px 2px 4px 0px;
  --shadow-lg: rgba(33, 51, 67, 0.12) 0px 1px 24px 0px;
  --shadow-xl: rgba(0, 0, 0, 0.28) 0px 8px 28px 0px;

  /* Original Site Variables */
  /* — colors — */
  --cl-card-border-width: 0px;
  --cl-card-border-color: transparent;
  --wf-integrations-tools-container-color: var(--cl-color-text-01);
  --wf-integrations-tools-container-background-color: var(--cl-color-background-01);
  --wf-integrations-tools-container-border: var(--cl-border-width-medium) solid var(--cl-color-border-03);
  --color-font-primary: var(--black);
  --color-font-light: var(--white);
  --consent-background-color: var(--black);
  --color-modal-heading: var(--black);
  --color-high-contrast: #1d0cff;
  --color-background-solid-light: var(--white);
  --colors-teal-light: var(--black);
  --color-brand01: #FF4800;
  --color-slide-off: #ddd;
  --color-border-light: #0000001c;
  --color-banner-border-light: #dbe4ed30;
  --color-background-modal: #FCFCFA;
  --border-radius-sm: 0.188rem;
  --border-radius-md: 0.5rem;
  --border-radius-lg: 1rem;
  --dark-theme-background-accent-01: #042729;
  --cl-color-social-button-fill-hover: rgba(0, 0, 0, 0.6196078431);
  --cl-color-container-01: #ffffff;
  --cl-color-button-primary-fill-idle: #ff4800;
  --cl-color-warning-01: #eeb117;
  --cl-color-border-highlight-01: #2f7579;
  --cl-color-accent-decoration-01: #9b9897;
  --cl-color-play-button-fill-pressed: #ffa766;
  --cl-color-overlay-01: rgba(0, 0, 0, 0.8117647059);
  --light-theme-icon-on-color-01: #ffffff;
  --dark-theme-loading-primary-fill-inactive: #fcc6b1;
  --light-theme-loading-primary-fill-inactive: #fcc6b1;
  --light-theme-button-secondary-fill-idle: #ffffff;
  --dark-theme-accent-fill-08: #800051;
  --cl-color-social-button-fill-pressed: rgba(0, 0, 0, 0.6196078431);
  --dark-theme-border-highlight-01: #b9cdbe;
  --cl-color-icon-01: #1f1f1f;
  --cl-color-play-button-fill-idle: #ff4800;
  --dark-theme-accent-decoration-06: #6431da;
  --cl-color-text-placeholder-01: rgba(0, 0, 0, 0.4);
  --cl-color-loading-secondary-fill-active: rgba(0, 0, 0, 0.2);
  --dark-theme-accent-decoration-08: #a5016a;
  --light-theme-background-accent-02: #d6c2d9;
  --dark-theme-button-primary-text-color: #ffffff;
  --cl-color-hover-link-02: rgba(0, 0, 0, 0.6196078431);
  --cl-color-accent-fill-03: #fcc5be;
  --light-theme-accent-fill-07: #b2e9eb;
  --cl-color-background-01: #fcfcfa;
  --cl-color-button-tertiary-fill-pressed: rgba(0, 0, 0, 0.4705882353);
  --cl-color-hover-brand-01: #c93700;
  --dark-theme-accent-fill-06: #5113ba;
  --light-theme-accent-fill-06: #d7cdfc;
  --cl-color-icon-02: #292929;
  --light-theme-button-secondary-fill-hover: #fcece6;
  --cl-color-border-02: rgba(0, 0, 0, 0.4705882353);
  --cl-anchor-pressed-color: #1f1f1f;
  --cl-color-text-on-color-01: #ffffff;
  --light-theme-accent-fill-05: #ece6d9;
  --dark-theme-accent-decoration-02: #c93700;
  --dark-theme-loading-secondary-fill-active: #f8f5ee;
  --cl-color-background-02: #f8f5ee;
  --dark-theme-loading-secondary-fill-inactive: rgba(255, 255, 255, 0.4);
  --dark-theme-button-secondary-fill-hover: rgba(0, 0, 0, 0.2);
  --cl-color-accent-fill-02: #fcc6b1;
  --light-theme-loading-secondary-fill-inactive: rgba(0, 0, 0, 0.1098039216);
  --light-theme-accent-fill-03: #fcc5be;
  --light-theme-border-02: rgba(0, 0, 0, 0.4705882353);
  --cl-color-accent-fill-07: #b2e9eb;
  --cl-color-background-footer-01: #1f1f1f;
  --cl-anchor-color: #1f1f1f;
  --cl-color-checkmark-list-icon-brand-fill: #ff4800;
  --cl-color-loading-primary-fill-active: #ff4800;
  --cl-color-text-brand-01: #ff4800;
  --cl-text-color: #1f1f1f;
  --cl-color-success-background-01: #bde7cb;
  --cl-color-hover-03: #cfcccb;
  --light-theme-button-primary-text-color: #ffffff;
  --cl-color-disabled-01: rgba(0, 0, 0, 0.2);
  --light-theme-social-button-icon-color: #ffffff;
  --dark-theme-background-accent-03: #25155e;
  --light-theme-text-on-color-01: #ffffff;
  --cl-color-loading-secondary-fill-inactive: rgba(0, 0, 0, 0.1098039216);
  --cl-color-button-tertiary-text-color: #ffffff;
  --light-theme-accent-decoration-04: #9cbaa4;
  --dark-theme-loading-primary-fill-active: #ff4800;
  --cl-color-pressed-02: rgba(0, 0, 0, 0.0784313725);
  --cl-color-neutral-background-01: #cfcccb;
  --light-theme-button-secondary-text-color-pressed: #9f2800;
  --cl-color-disabled-03: rgba(0, 0, 0, 0.0509803922);
  --cl-border-radius-input: 4px;
  --dark-theme-accent-decoration-05: #7d7050;
  --light-theme-button-secondary-border: #ff4800;
  --light-theme-accent-decoration-08: #fcc3dc;
  --light-theme-button-tertiary-text-color: #ffffff;
  --cl-color-free-01: #2f7579;
  --cl-color-number-fill-active: #ff4800;
  --cl-color-accent-fill-01: #cfcccb;
  --light-theme-accent-fill-02: #fcc6b1;
  --cl-anchor-hover-color-dark: #f8f5ee;
  --cl-color-error-background-01: #fcc5be;
  --cl-color-pressed-03: #9b9897;
  --cl-color-neutral-01: #9b9897;
  --dark-theme-button-secondary-border: #f8f5ee;
  --cl-color-text-02: rgba(0, 0, 0, 0.6196078431);
  --light-theme-accent-decoration-03: #ffa499;
  --cl-color-accent-decoration-06: #c4b4f7;
  --light-theme-accent-decoration-02: #ffa581;
  --cl-color-divider-01: rgba(0, 0, 0, 0.1098039216);
  --cl-color-button-secondary-fill-pressed: #fcc6b1;
  --dark-theme-accent-fill-02: #9f2800;
  --dark-theme-button-tertiary-text-color: #1f1f1f;
  --cl-anchor-color-dark: #f8f5ee;
  --dark-theme-button-primary-fill-idle: #ff4800;
  --dark-theme-button-secondary-fill-pressed: rgba(0, 0, 0, 0.4);
  --cl-color-text-link-underline-01: #ff4800;
  --light-theme-accent-decoration-07: #97dadc;
  --cl-color-button-primary-text-color: #ffffff;
  --light-theme-accent-fill-08: #fbdbe9;
  --cl-color-social-button-fill-idle: #292929;
  --cl-color-link-01: #1f1f1f;
  --cl-color-link-02: #124548;
  --cl-color-accent-decoration-07: #97dadc;
  --dark-theme-border-03: rgba(255, 255, 255, 0.0784313725);
  --cl-color-border-brand-01: #ff4800;
  --cl-color-disabled-02: rgba(0, 0, 0, 0.0196078431);
  --dark-theme-border-brand-01: #ff4800;
  --dark-theme-button-secondary-text-color-hover: #f8f5ee;
  --cl-color-accent-fill-05: #ece6d9;
  --cl-color-button-tertiary-fill-hover: rgba(0, 0, 0, 0.6196078431);
  --dark-theme-button-primary-fill-hover: #c93700;
  --cl-color-border-01: #1f1f1f;
  --cl-color-button-secondary-text-color-pressed: #9f2800;
  --light-theme-button-primary-fill-idle: #ff4800;
  --cl-color-play-button-fill-hover: #c93700;
  --cl-color-loading-primary-fill-inactive: #fcc6b1;
  --dark-theme-icon-on-color-01: #1f1f1f;
  --light-theme-accent-fill-04: #b9cdbe;
  --light-theme-button-primary-fill-hover: #c93700;
  --cl-color-accent-decoration-05: #ccc0a3;
  --cl-color-number-fill-statistic: #ff4800;
  --cl-color-hover-inverse-01: rgba(0, 0, 0, 0.8117647059);
  --dark-theme-accent-fill-05: #64593e;
  --cl-color-button-primary-fill-hover: #c93700;
  --dark-theme-accent-decoration-01: #1c1c1c;
  --dark-theme-border-01: #f8f5ee;
  --cl-color-pressed-brand-01: #9f2800;
  --cl-color-pressed-link-02: rgba(0, 0, 0, 0.6196078431);
  --light-theme-border-01: #1f1f1f;
  --cl-color-hover-02: rgba(0, 0, 0, 0.0588235294);
  --light-theme-button-secondary-fill-pressed: #fcc6b1;
  --cl-border-radius-round: 9999px;
  --cl-border-radius-container: 16px;
  --cl-color-accent-decoration-02: #ffa581;
  --light-theme-button-primary-fill-pressed: #9f2800;
  --cl-anchor-hover-color: #1f1f1f;
  --light-theme-accent-decoration-06: #c4b4f7;
  --dark-theme-accent-decoration-03: #d9002b;
  --dark-theme-border-02: rgba(255, 255, 255, 0.4);
  --light-theme-border-03: rgba(0, 0, 0, 0.1098039216);
  --dark-theme-accent-fill-03: #ac0020;
  --cl-color-container-inverse-01: #1f1f1f;
  --cl-color-success-01: #00823a;
  --cl-color-accent-fill-08: #fbdbe9;
  --dark-theme-button-secondary-fill-idle: rgba(0, 0, 0, 0.1098039216);
  --dark-theme-button-primary-fill-pressed: #9f2800;
  --cl-color-hover-link-01: #1f1f1f;
  --cl-color-hover-01: rgba(0, 0, 0, 0.0509803922);
  --light-theme-loading-primary-fill-active: #ff4800;
  --light-theme-border-highlight-01: #2f7579;
  --cl-color-accent-decoration-08: #fcc3dc;
  --cl-color-pressed-link-01: #1f1f1f;
  --cl-color-social-button-icon-color: #ffffff;
  --light-theme-button-secondary-text-color-hover: #c93700;
  --cl-color-badge-brand-fill-01: #fcc6b1;
  --cl-color-button-secondary-fill-idle: #ffffff;
  --light-theme-accent-fill-01: #cfcccb;
  --light-theme-background-accent-03: #fcc3dc;
  --dark-theme-button-secondary-text-color-pressed: #f8f5ee;
  --light-theme-accent-decoration-05: #ccc0a3;
  --cl-color-pressed-inverse-01: rgba(0, 0, 0, 0.6196078431);
  --cl-border-radius-container-medium: 16px;
  --cl-border-radius-container-small: 8px;
  --cl-color-background-accent-03: #fcc3dc;
  --light-theme-accent-decoration-01: #9b9897;
  --dark-theme-accent-decoration-04: #327142;
  --light-theme-background-accent-01: #b9cdbe;
  --cl-color-beta-01: #7d53e9;
  --cl-color-button-secondary-text-color-hover: #c93700;
  --cl-color-free-background-01: #ccf4f5;
  --cl-color-accent-decoration-04: #9cbaa4;
  --cl-color-button-primary-fill-pressed: #9f2800;
  --cl-color-warning-background-01: #fbeece;
  --light-theme-loading-secondary-fill-active: rgba(0, 0, 0, 0.2);
  --dark-theme-accent-fill-07: #1e5b5f;
  --cl-color-background-accent-02: #d6c2d9;
  --cl-color-pressed-01: rgba(0, 0, 0, 0.0588235294);
  --cl-color-number-fill-inactive: #ffdbc1;
  --cl-color-accent-fill-04: #b9cdbe;
  --cl-border-width-heavy: 2px;
  --cl-border-width-medium: 1px;
  --cl-color-hubspot-brand-01: #ff4800;
  --cl-color-button-secondary-border: #ff4800;
  --cl-color-button-secondary-fill-hover: #fcece6;
  --cl-color-background-accent-01: #b9cdbe;
  --cl-color-beta-background-01: #e5e1fa;
  --cl-border-radius-medium: 8px;
  --cl-color-border-03: rgba(0, 0, 0, 0.1098039216);
  --cl-border-radius-small: 4px;
  --cl-color-background-03: #f8f5ee;
  --cl-color-focus-01: #2f7579;
  --cl-color-error-01: #d9002b;
  --cl-color-icon-on-color-01: #ffffff;
  --cl-color-accent-decoration-03: #ffa499;
  --cl-color-accent-fill-06: #d7cdfc;
  --dark-theme-background-accent-02: #46062b;
  --cl-color-button-tertiary-fill-idle: #1f1f1f;
  --cl-color-container-03: rgba(255, 255, 255, 0.4);
  --cl-color-text-01: #1f1f1f;
  --dark-theme-text-on-color-01: #1f1f1f;
  --dark-theme-social-button-icon-color: #1f1f1f;
  --dark-theme-accent-fill-01: #000000;
  --light-theme-border-brand-01: #ff4800;
  --dark-theme-accent-decoration-07: #2f7579;
  --dark-theme-accent-fill-04: #1b582a;
  --cl-color-container-02: rgba(255, 255, 255, 0.4588235294);
  /* — spacing — */
  --cl-section-padding-none: 0;
  --cl-section-padding-extra-small: 16px;
  --cl-section-padding-small: 24px;
  --cl-section-padding-medium: 40px;
  --cl-section-padding-large: 64px;
  --csol-content-padding-true: 1rem;
  --csol-content-padding-false: 0;
  --csol-content-padding-mobile: var(--csol-content-padding-true);
  --csol-content-padding-desktop: var(--csol-content-padding-false);
  --csol-content-padding-desktop-enhanced-layout: var(--csol-content-padding-false);
  --csol-section-padding-top: 16px;
  --csol-section-padding-top-desktop: 24px;
  --csol-section-padding-bottom: 16px;
  --csol-section-padding-bottom-desktop: 24px;
  --wf-section-padding-none: 0px;
  --wf-section-padding-xs-mobile: 16px;
  --wf-section-padding-xs: 24px;
  --wf-section-padding-s-mobile: 24px;
  --wf-section-padding-s: 40px;
  --wf-section-padding-md-mobile: 40px;
  --wf-section-padding-md: 64px;
  --wf-section-padding-lg-mobile: 64px;
  --wf-section-padding-lg: 96px;
  --cl-carousel-slide-gap-default: 24px;
  --cl-carousel-dot-size: 16px;
  --cl-carousel-dot-gap: 8px;
  --wf-integrations-row-gap: 40px;
  --wf-integrations-tools-container-gap: 4rem;
  --wf-integrations-tools-grid-wrapper-gap: 16px;
  --wf-integrations-tools-grid-wrapper-gap-xsmall: 1rem;
  --wf-integrations-tools-grid-wrapper-gap-small: 48px;
  --wf-integrations-tools-title-link-wrapper-gap: 24;
  --font-size: 0.975rem;
  --font-size-mobile: 0.8rem;
  --font-size-mobile-small: 0.7rem;
  --font-size-small: 0.875rem;
  --font-size-medium: 0.9rem;
  --font-size-large: 1.125rem;
  --font-size-xl: 1.375rem;
  --font-size-banner-icon: 0.9998rem;
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 2rem;
  --spacing-2xl: 2.5rem;
  --toggle-nob-size: 1.39rem;
  --close-button-size: 1.25rem;
  --cl-letter-spacing-display-01-small: normal;
  --cl-font-size-micro: 0.75rem;
  --cl-font-size-medium: 1rem;
  --cl-font-size-display-01: 7rem;
  --cl-font-size-microcopy: 0.75rem;
  --cl-font-size-h5: 1.125rem;
  --cl-font-size-display-02-small: 3.5rem;
  --cl-font-size-p-large: 1.125rem;
  --cl-font-size-p-medium: 1rem;
  --cl-font-size-large: 1.125rem;
  --cl-font-size-display-02: 4.5rem;
  --cl-letter-spacing-display-01: -0.1875rem;
  --cl-font-size-display-01-small: 3.5rem;
  --cl-font-size-h3: 1.5rem;
  --cl-text-margin-large: 1.5rem;
  --cl-text-margin-medium: 1rem;
  --cl-font-size-display-03-small: 1.5rem;
  --cl-font-size-h6: 1rem;
  --cl-text-font-size: 1rem;
  --cl-font-size-small: 0.875rem;
  --cl-font-size-p-small: 0.875rem;
  --cl-font-size-h1-small: 2.5rem;
  --cl-font-size-microheading: 0.875rem;
  --cl-font-size-blockquote: 1.125rem;
  --cl-text-margin-small: 0.5rem;
  --cl-font-size-h4: 1.375rem;
  --cl-font-size-h2-small: 2rem;
  --cl-letter-spacing-display-02-small: normal;
  --cl-font-size-h1: 3rem;
  --cl-font-size-h2: 2.5rem;
  --cl-text-letter-spacing: normal;
  --cl-font-size-input-label: 0.875rem;
  --cl-font-size-display-03: 1.5rem;
  --cl-letter-spacing-display-02: normal;
  /* — typography — */
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-hs-hubspot-sans-medium: 'HubSpot Sans';
  --font-lexend-deca: 'Lexend Deca';
  --font-lexend-deca-alt: 'LexendDeca';
  --font-family: var(--font-hs-hubspot-sans-medium), var(--font-lexend-deca), var(--font-lexend-deca-alt), 'Helvetica Neue', helvetica, arial, sans-serif;
  --cl-line-height-large: 1.77777778;
  --cl-line-height-display-02-small: 1.14285714;
  --dark-theme-text-placeholder-01: rgba(255, 255, 255, 0.4);
  --cl-font-weight-h5: 500;
  --cl-text-line-height: 1.75;
  --cl-font-weight-microcopy: 500;
  --cl-line-height-h4: 1.45454545;
  --cl-line-height-h2-small: 1.125;
  --cl-line-height-h6: 1.75;
  --dark-theme-text-brand-01: #f8f5ee;
  --cl-line-height-display-03: 1.41666667;
  --dark-theme-text-02: rgba(255, 255, 255, 0.6196078431);
  --cl-font-weight-p-large: 300;
  --cl-font-weight-input-label: 500;
  --cl-font-weight-display-02-small: 300;
  --cl-font-family-display: 'HubSpot Serif', serif;
  --cl-line-height-microheading: 1.57142857;
  --cl-line-height-h1-small: 1.04545455;
  --cl-font-weight-display-02: 300;
  --cl-font-weight-light: 300;
  --cl-line-height-p-medium: 1.75;
  --cl-line-height-display-01: 1.07142857;
  --cl-text-link-underline-thickness: 2px;
  --cl-font-weight-p-link: 500;
  --cl-anchor-text-decoration: underline;
  --cl-line-height-small: 1.57142857;
  --dark-theme-text-link-underline-01: #ff4800;
  --dark-theme-text-01: #f8f5ee;
  --cl-font-family-heading: 'HubSpot Serif', serif;
  --cl-font-weight-h1-small: 300;
  --light-theme-text-placeholder-01: rgba(0, 0, 0, 0.4);
  --cl-font-weight-display-01: 300;
  --cl-line-height-p-large: 1.77777778;
  --cl-font-weight-h1: 300;
  --cl-line-height-h2: 1.1;
  --cl-anchor-font-weight: 500;
  --cl-font-weight-h3: 500;
  --cl-font-weight-display-03-small: 500;
  --cl-font-weight-book: 300;
  --cl-text-font-weight: 300;
  --cl-font-weight-p-medium: 300;
  --cl-font-weight-h6: 500;
  --cl-line-height-display-02: 1.22222222;
  --cl-font-weight-display-01-small: 300;
  --cl-line-height-medium: 1.75;
  --cl-font-weight-p-small: 300;
  --cl-font-weight-medium: 500;
  --cl-font-family: 'HubSpot Sans', sans-serif;
  --cl-line-height-h1: 1.15384615;
  --cl-font-weight-h2: 300;
  --cl-font-weight-demi-bold: 500;
  --cl-line-height-display-01-small: 1.14285714;
  --cl-font-weight-microheading: 500;
  --cl-text-link-underline-offset: 6px;
  --light-theme-text-link-underline-01: #ff4800;
  --cl-line-height-input-label: 1.57142857;
  --cl-line-height-display-03-small: 1.41666667;
  --cl-font-weight-display-03: 500;
  --cl-line-height-p-small: 1.57142857;
  --light-theme-text-02: rgba(0, 0, 0, 0.6196078431);
  --light-theme-text-01: #1f1f1f;
  --cl-line-height-blockquote: 1.78;
  --cl-font-weight-h2-small: 300;
  --light-theme-text-brand-01: #ff4800;
  --cl-line-height-microcopy: 1.66666667;
  --cl-line-height-h5: 1.55555556;
  --cl-font-weight-h4: 500;
  --cl-font-weight-blockquote: 300;
  --cl-line-height-h3: 1.41666667;
  /* — shadows — */
  --shadow-light: 0 0.063rem 0.313rem rgba(240, 246, 251, 0.12);
  /* — other — */
  --cl-content-max-width-default: 1080px;
  --cl-content-max-width-lg: 1220px;
  --cl-content-max-width-enhanced-layout: 1460px;
  --cl-content-max-width: var(--cl-content-max-width-default);
  --cl-content-max-width-enhanced: var(--cl-content-max-width-default);
  --cl-section-content-max-width: var(--cl-content-max-width);
  --cl-section-gutter: 16px;
  --global-nav-content-max-width: 1080px;
  --global-nav-header-height: 56px;
  --global-nav-header-height-dynamic: 56px;
  --global-nav-header-lp-height: 54px;
  --cl-carousel-slides-per-view-default: 3;
  --cl-carousel-slides-per-view-phone: 1;
  --cl-carousel-slides-per-view-tablet: 2;
  --cl-carousel-peek-default: 48px;
  --cl-carousel-peek-phone: 24px;
  --cl-carousel-peek-tablet: 32px;
  --cl-carousel-slides-to-scroll-default: 1;
  --cl-carousel-slides-to-scroll-phone: 1;
  --cl-carousel-slides-to-scroll-tablet: 2;
  --cl-carousel-is-infinite: 0;
  --cl-carousel-show-dots-default: 1;
  --cl-carousel-show-dots-phone: 1;
  --cl-carousel-show-dots-tablet: 1;
  --cl-carousel-show-dots-desktop: 1;
  --cl-carousel-animation-duration: 300ms;
  --cl-carousel-easing: ease;
  --wf-integrations-row-flex-direction: column;
  --wf-integrations-tools-grid-wrapper-column-count: 3;
  --wf-integrations-tools-grid-wrapper-column-count-single: 4;
  --wf-integrations-tools-grid-wrapper-row-count: 2;
  --wf-integrations-tools-grid-item-wrapper-min-width: 70px;
  --wf-integrations-tools-grid-item-wrapper-max-width: 100px;
  --wf-integrations-tools-grid-item-wrapper-min-height: 70px;
  --wf-integrations-tools-grid-item-wrapper-max-height: 100px;
  --breakpoint-phone: 500px;
  --breakpoint-tablet-portrait: 767px;
  --breakpoint-tablet: 1024px;
  --breakpoint-desktop: 1366px;
  --black: #1F1F1F;
  --pantera: #213343;
  --white: #FFFFFF;
  --light-interactive: #FFFFFF;
  --modal-max-height: calc(min(38.375rem, 100%));
  --toggle-width: 4rem;
  --toggle-height: 2rem;
  --button-min-width: 7.188rem;
  --button-min-height: 2.5rem;
  --z-index-banner: 99999;
  --z-index-modal: 3000000002;
  --default-content-width: 1080px;
  --button-transition: 0.15s color ease-out, 0.15s background-color ease-out, 0.15s border-color ease-out;
  --dark-theme-button-tertiary-fill-pressed: rgba(255, 255, 255, 0.6196078431);
  --light-theme-pressed-inverse-01: rgba(0, 0, 0, 0.6196078431);
  --dark-theme-error-01: #ff7b70;
  --light-theme-pressed-link-01: #1f1f1f;
  --light-theme-hover-03: #cfcccb;
  --dark-theme-focus-01: #7aa485;
  --dark-theme-number-fill-statistic: #ff4800;
  --dark-theme-icon-02: #b6b1af;
  --dark-theme-hover-brand-01: #ff7d4c;
  --light-theme-pressed-02: rgba(0, 0, 0, 0.0784313725);
  --light-theme-icon-02: #292929;
  --light-theme-warning-background-01: #fbeece;
  --light-theme-pressed-01: rgba(0, 0, 0, 0.0588235294);
  --light-theme-number-fill-inactive: #ffdbc1;
  --light-theme-overlay-01: rgba(0, 0, 0, 0.8117647059);
  --light-theme-success-01: #00823a;
  --light-theme-checkmark-list-icon-brand-fill: #ff4800;
  --dark-theme-free-background-01: #2f7579;
  --light-theme-neutral-01: #9b9897;
  --dark-theme-divider-01: rgba(255, 255, 255, 0.0784313725);
  --dark-theme-play-button-fill-pressed: #9f2800;
  --light-theme-pressed-03: #9b9897;
  --dark-theme-background-footer-01: #1f1f1f;
  --dark-theme-neutral-background-01: #141414;
  --light-theme-warning-01: #eeb117;
  --dark-theme-warning-01: #d39913;
  --light-theme-play-button-fill-idle: #ff4800;
  --dark-theme-disabled-03: rgba(255, 255, 255, 0.0784313725);
  --light-theme-background-03: #f8f5ee;
  --light-theme-badge-brand-fill-01: #fcc6b1;
  --dark-theme-pressed-link-02: rgba(255, 255, 255, 0.6196078431);
  --light-theme-button-tertiary-fill-pressed: rgba(0, 0, 0, 0.4705882353);
  --light-theme-link-02: #124548;
  --dark-theme-background-03: #093436;
  --light-theme-disabled-01: rgba(0, 0, 0, 0.2);
  --light-theme-number-fill-active: #ff4800;
  --dark-theme-hover-link-02: rgba(255, 255, 255, 0.6196078431);
  --light-theme-hover-brand-01: #c93700;
  --light-theme-success-background-01: #bde7cb;
  --light-theme-button-tertiary-fill-idle: #1f1f1f;
  --light-theme-social-button-fill-pressed: rgba(0, 0, 0, 0.6196078431);
  --dark-theme-badge-brand-fill-01: #c93700;
  --dark-theme-social-button-fill-pressed: rgba(255, 255, 255, 0.6196078431);
  --cl-fixed-element-total-height: 0px;
  --dark-theme-pressed-brand-01: #ffa581;
  --light-theme-hover-link-01: #1f1f1f;
  --light-theme-social-button-fill-hover: rgba(0, 0, 0, 0.6196078431);
  --dark-theme-container-03: rgba(0, 0, 0, 0.4);
  --light-theme-container-02: rgba(255, 255, 255, 0.4588235294);
  --light-theme-background-footer-01: #1f1f1f;
  --dark-theme-link-01: #f8f5ee;
  --dark-theme-icon-01: #f8f5ee;
  --light-theme-link-01: #1f1f1f;
  --light-theme-beta-background-01: #e5e1fa;
  --dark-theme-number-fill-active: #ff4800;
  --dark-theme-hover-inverse-01: rgba(255, 255, 255, 0.8117647059);
  --dark-theme-disabled-02: rgba(255, 255, 255, 0.0588235294);
  --dark-theme-hover-02: rgba(255, 255, 255, 0.0588235294);
  --dark-theme-error-background-01: #d9002b;
  --light-theme-play-button-fill-hover: #c93700;
  --dark-theme-container-inverse-01: #ffffff;
  --light-theme-neutral-background-01: #cfcccb;
  --light-theme-hover-link-02: rgba(0, 0, 0, 0.6196078431);
  --light-theme-hover-01: rgba(0, 0, 0, 0.0509803922);
  --dark-theme-free-01: #459195;
  --dark-theme-checkmark-list-icon-brand-fill: #ff4800;
  --dark-theme-pressed-link-01: #f8f5ee;
  --dark-theme-background-01: #042729;
  --light-theme-container-inverse-01: #1f1f1f;
  --dark-theme-pressed-01: rgba(255, 255, 255, 0.0588235294);
  --light-theme-icon-01: #1f1f1f;
  --dark-theme-hover-03: rgba(255, 255, 255, 0.0784313725);
  --light-theme-pressed-brand-01: #9f2800;
  --dark-theme-overlay-01: rgba(0, 0, 0, 0.8117647059);
  --light-theme-hover-02: rgba(0, 0, 0, 0.0588235294);
  --dark-theme-beta-background-01: #6431da;
  --light-theme-play-button-fill-pressed: #ffa766;
  --dark-theme-hubspot-brand-01: #ff4800;
  --light-theme-pressed-link-02: rgba(0, 0, 0, 0.6196078431);
  --dark-theme-social-button-fill-hover: rgba(255, 255, 255, 0.8117647059);
  --dark-theme-background-02: #093436;
  --light-theme-beta-01: #7d53e9;
  --dark-theme-neutral-01: #4d4c4c;
  --light-theme-focus-01: #2f7579;
  --light-theme-social-button-fill-idle: #292929;
  --dark-theme-pressed-03: rgba(255, 255, 255, 0.1098039216);
  --dark-theme-pressed-inverse-01: rgba(255, 255, 255, 0.6196078431);
  --dark-theme-warning-background-01: #956309;
  --light-theme-free-01: #2f7579;
  --dark-theme-container-01: #061c1d;
  --dark-theme-play-button-fill-hover: #c93700;
  --dark-theme-success-background-01: #00823a;
  --light-theme-background-01: #fcfcfa;
  --dark-theme-link-02: #eef4f0;
  --light-theme-free-background-01: #ccf4f5;
  --dark-theme-pressed-02: rgba(255, 255, 255, 0.0784313725);
  --light-theme-background-02: #f8f5ee;
  --light-theme-error-01: #d9002b;
  --dark-theme-social-button-fill-idle: #f8f5ee;
  --light-theme-hover-inverse-01: rgba(0, 0, 0, 0.8117647059);
  --light-theme-hubspot-brand-01: #ff4800;
  --light-theme-error-background-01: #fcc5be;
  --light-theme-container-01: #ffffff;
  --light-theme-button-tertiary-fill-hover: rgba(0, 0, 0, 0.6196078431);
  --dark-theme-button-tertiary-fill-idle: #ffffff;
  --dark-theme-disabled-01: rgba(255, 255, 255, 0.168627451);
  --dark-theme-hover-link-01: #f8f5ee;
  --light-theme-number-fill-statistic: #ff4800;
  --dark-theme-play-button-fill-idle: #ff4800;
  --dark-theme-button-tertiary-fill-hover: rgba(255, 255, 255, 0.8117647059);
  --dark-theme-success-01: #3cb769;
  --light-theme-disabled-03: rgba(0, 0, 0, 0.0509803922);
  --light-theme-container-03: rgba(255, 255, 255, 0.4);
  --dark-theme-number-fill-inactive: #ffdbc1;
  --dark-theme-beta-01: #9778ec;
  --dark-theme-container-02: rgba(0, 0, 0, 0.168627451);
  --light-theme-disabled-02: rgba(0, 0, 0, 0.0196078431);
  --light-theme-divider-01: rgba(0, 0, 0, 0.1098039216);
  --dark-theme-hover-01: rgba(255, 255, 255, 0.0509803922);
  /* — dependencies — */
  --cl-content-max-width: --cl-content-max-width-default;
  --cl-content-max-width-enhanced: --cl-content-max-width-default;
  --cl-section-content-max-width: --cl-content-max-width;
  --csol-content-padding-mobile: --csol-content-padding-true;
  --csol-content-padding-desktop: --csol-content-padding-false;
  --csol-content-padding-desktop-enhanced-layout: --csol-content-padding-false;
  --wf-integrations-tools-container-color: --cl-color-text-01;
  --wf-integrations-tools-container-background-color: --cl-color-background-01;
  --wf-integrations-tools-container-border: --cl-border-width-medium,--cl-color-border-03;
  --color-font-primary: --black;
  --color-font-light: --white;
  --consent-background-color: --black;
  --color-modal-heading: --black;
  --color-background-solid-light: --white;
  --colors-teal-light: --black;
  --font-family: --font-hs-hubspot-sans-medium,--font-lexend-deca,--font-lexend-deca-alt;
  /* — semantic — */
  success: [object Object];
  warning: [object Object];
  error: [object Object];
  info: [object Object];

}